
/* ==================== Display Styles ==================== */
.d-block, .d-block-xl, .d-block-lg, .d-block-md, .d-block-sm{
    display: block;
}
.d-flex, .d-flex-xl, .d-flex-lg, .d-flex-md, .d-flex-sm{
    display: flex;
}
.d-none{
    display: none;
}

@media(min-width: 992px){   /*XL*/
    .d-block-xl{
        display: block !important;
    }
    .d-flex-xl{
        display: flex !important;
    }
    .d-xl-none{
        display: none !important;
    }
}

@media(max-width: 992px){   /*LG*/
    .d-block-lg{
        display: block !important;
    }
    .d-flex-lg{
        display: flex !important;
    }
    .d-lg-none{
        display: none !important;
    }
}
@media(max-width: 768px){   /*MD*/
    .d-block-md{
        display: block !important;
    }
    .d-flex-md{
        display: flex !important;
    }
    .d-md-none{
        display: none !important;
    }
}
@media(max-width: 576px){   /*SM*/
    .d-block-sm{
        display: block !important;
    }
    .d-flex-sm{
        display: flex !important;
    }
    .d-sm-none{
        display: none !important;
    }
}
/* ==================== Display Styles End ==================== */