
form{
    width: 60%;
    display: block;
    margin: 0px auto;
    margin-bottom: 4rem;
}

input[type="file"] {
    width: 98%;
    padding: 20px;
    border: 2px solid #ffb87e;
    background-color: #fff;
    border-radius: 5px;
}

hr{
    border: none;
    border-bottom: 2px solid #3f3f3f;
    height: 10px;
    width: 100%;
}

.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 5px;
    flex-direction: column;
}

.input-box{
    width: 100%;
    margin: 25px 0 25px 0;
}

.inner{
    height: 45px;
    width: 100%;
    outline: none;
    border: 2px solid #ffb87e;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.btn{
    margin-top: 2rem;
}

#container > .content-wrapper{
    display: flex;
    flex-direction: row;
}

#container > .content-wrapper > .col, #container > .content-wrapper > .col2{
    width: 50%;
    margin: 0px 4rem;
}

#container > .content-wrapper > .col > img, #container > .content-wrapper > .col2 > img{
    width: 175px;
    display: block;
    margin: 0px auto;
} 

#container > .content-wrapper > .col > a, #container > .content-wrapper > .col2 > a{
    width: fit-content;
    display: block;
    margin: 0px auto;
}

@media(max-width: 768px){   /*MD*/
    #container > .content-wrapper > .col, #container > .content-wrapper > .col2{
        width: 80%;
    }
    #container > .content-wrapper{
        flex-direction: column;
    }
    .details{
        flex-direction: column;
        width: 100%;
    }
    .details > .input-box{
        width: 100%;
    }
}

@media(max-width: 600px){
    .wide-box{
        max-width: 100%;
    }
    .input-box{
        width: 100%;
        margin: 25px 0 25px 0;
    }
   
}
